#..List of CV to be monitored: 
WHOLEMOLECULES STRIDE=1 ENTITY0=XXX-YYY
RMSD REFERENCE=RRRRR  TYPE=OPTIMAL  LABEL=rmsd
#..
DISTANCE ATOMS=P1,L1        LABEL=r
ANGLE    ATOMS=P2,P1,L1     LABEL=theta
TORSION  ATOMS=P3,P2,P1,L1  LABEL=phi
ANGLE    ATOMS=P1,L1,L2     LABEL=THETA
TORSION  ATOMS=P1,L1,L2,L3  LABEL=PHI
TORSION  ATOMS=P2,P1,L1,L2  LABEL=PSI

#..printout
PRINT ARG=rmsd,r,theta,phi,THETA,PHI,PSI FILE=BOUND

#end-of-input 
ENDPLUMED
